{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block navlinks %}
    <img src="../static/images/moon-fill.svg"
        alt="An image of a moon when in light mode and of a sun when in dark mode"
        class="btn switch-theme-btn"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Toggle Dark/Light theme" />
    <div class="d-flex">
        <a class="nav-link" href="/login">Логін</a>
        <a class="nav-link" href="/register">Зареєструватися</a>
    </div>
{% endblock %}

{% block content %}
    <form action="/login" method="post" style="text-align: center;">
        <input type="text" class="form-control mb-3"
                name="username" placeholder="Ім'я користувача" autocomplete="off"
            value="{{ request.form.get("username") if request.form.get("username") else "" }}">
        <input type="password" class="form-control mb-3"
                name="password" placeholder="Пароль" autocomplete="off"
            value="{{ request.form.get("password") if request.form.get("password") else "" }}">
        <button type="submit" class="btn btn-primary">Логін</button>
    </form>
{% endblock %}
